div.FormDataField {
	width: 100%;
	margin: 2%;
	padding: 2%;
	/* background-color: lightgrey; */
}
div.FormDataField label {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 2rem;
}
div.FormDataField input:disabled {
	width: 60%;
	border: 0;
	padding: 0 2%;
	display: inline-block;
	vertical-align: middle;
	font-size: 2rem;
	background: transparent;
	color: black;
}
